<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Watchposition</name>

  <description>
      An example for phonegap build docs.
  </description>

  <author href="https://build.phonegap.com" email="detroiterinct@gmail.com">
      Jay Baker
  </author>
  <!-- <plugin name="cordova-plugin-file" spec="~4.3.1" /> -->
  <!--Added following plugin for SQLite COMMENTED OUT FOR NOW-->
    <!-- <plugin spec="https://github.com/litehelpers/Cordova-sqlite-evcore-extbuild-free.git#1186a7e" source="git" /> -->
  <!-- Added following plugin for GPS functionality -->
    <plugin name="cordova-plugin-geolocation" spec="~2.4.1" />
</widget>
